* {
	margin:0px;
  padding: 0px;

}
body {
/*  border: 2px solid red;*/
  background-color: black;
	color: white;
  font-family: 'Dancing Script', cursive;

	animation-name: animacion_body;
	animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	animation-delay: 1s;

}

@keyframes animacion_body {
	0% {
		position: relative;
		top: 1200px
	}
	50% {
		position: relative;
		top: 600px;
	}
	100% {
		position: relative;
		top: 0px;
	}
}

#Contenedorbody{
/*  border: 2px solid yellow;*/
  width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	background-color: black;
	color: white;
}
#cabecera{
  height: 60px;
  background:  #5b7989;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
header h1{
  font-size: 35px;
  text-align: left;
  padding-left: 20px;
  padding-right: 200px;
	text-shadow: 2px 3px  #02010a;
}
header h1, nav{
  display: inline-block;
  vertical-align: middle;
}
nav li{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.inic{
	text-decoration: none;
}
nav ul li a{
  color: white;
  font-size: 1.5em;
}
nav ul li a:hover{
  font-size: 1.7em;
	text-shadow: 5px 5px 5px  white;
}
#contenidoimagen {
	display: flex;
	flex-direction: column;
}
#contenidoimagen > .contenedorcentral > div{
	-webkit-perspective: 500px; /* Chrome, Safari, Opera  */
	 perspective: 500px;
}
.contenedorcentral {
  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  background-color: #82c3a6;

}
.contenedorcentral figure img{
	border: 1px solid black;
	width: 800px;	height: 400px;
  -webkit-filter:drop-shadow(2px 2px 2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a  );
}
.contenedorcentral > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 100%;

}
.contenedorsecundario {
  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  background-color: #d5c75f;
}
.contenedorsecundario figure img{
	border: 1px solid black;
  width: 375px;
  -webkit-filter:drop-shadow(2px 2px 2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a  );
}
.contenedorsecundario > div {
	text-align: center;
	padding: 20px;
	margin: 20px;
	width: 100%;
}
#imagen2:hover{
		border: 2px solid white;
	-ms-transform: rotate(10deg); /* IE 9 */
	-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
	transform: rotate(10deg);
}
#imagen3:hover{
		border: 2px solid white;
		transform: translate(20px,-5px);
		-webkit-filter:drop-shadow(5px 5px 5px #82c3a6 );
		filter: drop-shadow(5px 5px 5px #82c3a6  );
}

#contenidoimagen div div p {
	text-decoration: none;
	color:white;
	text-align: center;
	font-size: 1.7em;
	font-style: italic;
}
#contenidoimagen>div>div>figure>p>a:visited{
	color: blue;
}
#contenidoimagen>div>div>figure>p>a:hover{
	text-shadow: 2px 3px 3px  #02010a;
	color: white;
}

#piepagina{
  clear: both;
  background: #C6d5c5;
  height: 150px;
  text-align: center;
	display: flex;
	flex-direction: row;
	color: black;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#piepagina h3{
	font-size: 30px;
	padding: 5px;
}
#piepagina h3:hover {
		text-shadow: 2px 2px 2px black;
}
#piepagina > div{
	width: 25%;
}
.Contactos:hover{	background-color: rgb(129,247,159); border-radius: 30px;}
.redes:hover{	background-color: rgb(129,247,159); border-radius: 30px;}
.terminos:hover{	background-color:rgb(129,247,159); border-radius: 30px;}
.derechos:hover{	background-color:rgb(129,247,159); 	border-radius: 30px;}

.Contactos li{
  display: inline-block;
	margin:1px;
	padding: 1px;
	float: left;
	margin-left: 40px;
}
.redes ul li{
	display: block;
	float: left;
	margin-left: 40px;
}
.derechos ul {
	list-style: none;
}
img[src$=".svg"] {
    border-radius: 20px;
}

/*
#imagen1,#imagen2,#imagen3{
	transition-property: width;
	transition-duration: 0.5s;
}

#imagen1:hover{	width: 90%;}
#imagen2:hover{	width: 110%;}
#imagen3:hover{	width: 90%;}*/

body{

}

@media screen and (max-width: 850px){

	#Contenedorbody
	{
		width: 100%;
	}
	#cabecera{
		height: 100px;
	}
	header h1{
		text-align: center;
		margin-left: 200px;
		padding: 0px;
	}

	nav ul{ margin-left: 250px; }

  .contenedorcentral{
    display: flex;
    flex-direction: column;
  }

	.contenedorsecundario{
    display: flex;
    flex-direction: column;
  }
	#contenidoimagen > .contenedorsecundario > div{
		padding-top: 40px;
	}
	#contenidoimagen>div>div>figure>img{
		width: 650px;
		height: 400px;
	}
	#contenidoimagen > div > div{
		text-align: center;
		padding: 5px;
		margin: 5px;
		width: 100%;
	}
}
@media screen and (max-width: 700px){
	#contenidoimagen>div>div>figure>img{
		width: 480px;
		height: 300px;
	}
	#contenidoimagen > div > div{
			text-align: center;
			padding: 2px;
			margin: 2px;
			width: 100%;
	}
}

@media all and (max-width: 640px) {

	header h1{
						text-align: center;
						margin-left: 40px;
						padding: 0px;
					}
	nav ul{  margin-left: 60px;}

	#contenidoimagen>div>div>figure>img{
		width: 500px;
		height: 300px;
		}

  #piepagina{
			display: flex;
			flex-flow: row wrap;
			height: 400px;
			margin: 0;
			padding: 0;
		}
  #piepagina > div {
  	width: 50%;
  }

}
@media all and (max-width: 500px) {
	#contenidoimagen>div>div>figure>img{
		width: 400px;
		height:250px;
	}
}
@media all and (max-width: 400px) {

	#contenidoimagen>div>div>figure>img{
		width: 300px;
		height:220px;
	}

	#cabecera
	{ /*background: green;*/
		height: 130px;
	}

}

@media all and (max-width: 350px) {

		#cabecera
			{ /*background: blue;*/
				height: 150px;
			}
			#contenidoimagen>div>div>figure>img{
				width: 250px;
				height: 180px;
			}

    .contenedorsecundario{
    	display: flex;
    	flex-direction: column;
    }

		header h1{
			text-align: center;
			margin-left: 10px;
			padding: 0px;

		}
		nav ul{  margin-left: 15px;}


    .Contactos  li{
        margin-left: 80px;
      }
    .redes ul li{
    		margin-left: 80px;
    	}
		#contenidoimagen > div > div{
				text-align: center;
				padding: 2px;
				margin: 2px;
				width: 100%;
		}
		#piepagina{
				display: flex;
				flex-direction: column;
				height: 500px;
				margin: 0;
				padding: 0;
			}
		#piepagina > div{
				width: 100%;
				margin: 1px;
				padding: 3px;
			}
}
