* {
	margin:0px;
  padding: 0px;

}
body {
/*  border: 2px solid red;*/
  background-color: black;
	color: white;
  font-family: 'Dancing Script', cursive;

}
#Contenedorbody{
/*  border: 2px solid yellow;*/
  width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	background-color: black;
	color: white;
}
#cabecera{
  height: 60px;
  background:  #5b7989;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
header h1{
  font-size: 35px;
  text-align: left;
  padding-left: 20px;
  padding-right: 200px;
	text-shadow: 2px 3px  #02010a;
}
header h1, nav{
  display: inline-block;
  vertical-align: middle;
}
nav li{
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.inic{
	text-decoration: none;
}
nav ul li a{
  color: white;
  font-size: 1.5em;
}
nav ul li a:hover{
  font-size: 1.7em;
	text-shadow: 5px 5px 5px  white;
}
#contenidoimagen {
	display: flex;
	flex-direction: column;
}
.contenedor img{
	border: 1px solid black;
  width: 250px;
  -webkit-filter:drop-shadow(2px 2px 2px #02010a);
  filter: drop-shadow(2px 2px 2px #02010a  );
}

.contenedor {
  display: -webkit-flex;
	display: flex;
	flex-direction: row;
  background-color: #d5c75f;
}

.contenedor > div {
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 100%;
}

#imagen1{
opacity: 0.5;
transition: opacity 1s;
}
#imagen1:hover{
opacity: 1;
}

#imagen3 {
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}
#imagen3:hover{
	-webkit-filter:none;
	filter: none;
}

#piepagina{
  clear: both;
  background: #C6d5c5;
  height: 150px;
  text-align: center;
	display: flex;
	flex-direction: row;
	color: black;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
#piepagina h3{
	font-size: 30px;
	padding: 5px;
}
#piepagina h3:hover {
		text-shadow: 4px 7px 7px white;
}
#piepagina > div{
	width: 25%;
}
.Contactos:hover,.redes:hover,.terminos:hover,.derechos:hover {
	border-radius: 30px;color: red;
	background:white; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, white, #87CEFA, #20B2AA); /* Safari */
	background: -o-radial-gradient(circle, white, #87CEFA, #20B2AA); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, white, #87CEFA, #20B2AA); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, white, #87CEFA,#20B2AA); /* Standard syntax */
}/*
.redes:hover{	background-color: #E0FFFF; border-radius: 30px; color: red;}
.terminos:hover{	background-color: #E0FFFF; border-radius: 30px;color: red;}
.derechos:hover{	background-color: #E0FFFF; 	border-radius: 30px;color: red;}
*/
.Contactos li{
  display: inline-block;
	margin:1px;
	padding: 1px;
	float: left;
	margin-left: 40px;
}
.redes ul li{
	display: block;
	float: left;
	margin-left: 40px;
}
.derechos ul {
	list-style: none;
}
img[src$=".svg"] {
    border-radius: 20px;
}

.contenedor > .img:hover {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

#imagen2:hover{
	animation: animacionimagen2 4s;
}
@-webkit-keyframes animacionimagen2{
	100%{
		-webkit-transform: rotateY(360deg) infinite;
		-webkit-transform-style: preserve-3d;
		transform: rotateY(360deg);
		transform-style: preserve-3d;
	}
}


#imagen4:hover {
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #ec731e;
	-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

#imagen6{
-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
animation-name: animacionimagen6;
animation-duration: 8s;
}
@-webkit-keyframes animacionimagen6 {
    from {-webkit-filter:sepia(100%); filter: sepia(100%);}
    to {-webkit-filter:none; filter: none;}
}



@media screen and (max-width: 850px){

	#Contenedorbody
	{
		width: 100%;
	}
	#cabecera{
		height: 100px;
	}
	header h1{
		text-align: center;
		margin-left: 200px;
		padding: 0px;
	}

	nav ul{ margin-left: 250px; }

  .contenedor{
    display: flex;
    flex-direction: column;
  }
  .contenedor img{   width: 720px;  }

}


@media all and (max-width: 640px) {

  	#Contenedorbody
		  	{
		  		width: 100%;
		  	}
		#cabecera
				{ /*background: red;*/
					height: 100px;
				}
		header h1{
					text-align: center;
					margin-left: 40px;
					padding: 0px;
				}
		nav ul{  margin-left: 60px;}

	  .contenedor{
	    display: flex;
	    flex-direction: column;
	  }
  /*.contenedor > div{
    background: white;
  }*/
  .contenedor img{   width: 500px;  }

  #piepagina{
			display: flex;
			flex-flow: row wrap;
			height: 400px;
			margin: 0;
			padding: 0;
		}
  #piepagina > div {
  	width: 50%;
  }

}
@media all and (max-width: 400px) {
	#cabecera
	{ /*background: green;*/
		height: 130px;
	}
}

@media all and (max-width: 350px) {
	#Contenedorbody
  	{
  		width: 100%;
  	}
	#cabecera
	{ /*background: blue;*/
		height: 150px;
	}

  	.contenedor{
  		display: flex;
  		flex-direction: column;
  	}

    .contenedor img{   width: 300px;  }
		header h1{
			text-align: center;
			margin-left: 10px;
			padding: 0px;
		}
		nav ul{  margin-left: 15px;}
    #piepagina{
    		display: flex;
    		flex-direction: column;
    		height: 500px;
    		margin: 0;
    		padding: 0;
    	}
    #piepagina > div{
    		width: 100%;
    		margin: 1px;
    		padding: 3px;
    	}
      .Contactos  li{
        margin-left: 80px;
      }
    	.redes ul li{
    		margin-left: 80px;
    	}
			.contenedor > div {
				text-align: center;
				padding: 0px;
				margin: 0px;
				width: 100%;
			}

}
